@import './../../assets/scss/colors';

.request {
  justify-content: center;
  min-height: 100vh;

  .logo-graphic {
    pointer-events: none;
    animation: app-logo-shake infinite 1s linear;
  }

  form {
    position: relative;
    width: 500px;
    margin-bottom: 20rem; // save space for auto-suggest

    input {
      padding: .5rem 1rem;
      width: 100%;
      box-sizing: border-box; // so the input does not overflow the form
    }

    .auto-complete {
      position: absolute;
      width: calc(100% - 2px); // remove border size
      max-height: 20rem;
      overflow-y: scroll;
      border: 1px solid $grey-lighter;
      list-style-type: none;
      padding: 0;
      margin: 0;

      .bundle a {
        display: block;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        position: relative;
        padding: .5rem 3.5rem .5rem .5rem;

        &:hover {
          background: $grey-lighter;
        }

        .version {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: .5rem;
        }
      }
    }
  }

}

@keyframes app-logo-shake {

  10%,
  90% {
    transform: translateY(-1px);
  }

  20%,
  80% {
    transform: translateY(1px);
  }

  30%,
  50%,
  70% {
    transform: translateY(-2px);
  }

  40%,
  60% {
    transform: translateY(2px);
  }
}