@import './../../assets/scss/colors';

.results {
  min-height: 100vh;
  padding-top: 4rem;

  .loader {
    justify-content: center;
    min-height: 100vh;

    img {
      width: 100px;
    }
  }

  h1 {
    margin-top: 0;
  }

  .wrapper {
    margin: 2rem 0;
  }

  .chart {
    .bar-wrapper {
      width: 100%;
      margin-bottom: .5rem;
      filter: brightness(1);
      transition: .5s;

      &:hover {
        filter: brightness(.95);

        .tooltip {
          opacity: 1;
        }
      }

      .bar {
        display: block;
        height: 2rem;
        cursor: pointer;
        position: relative;

        &.gzip-bar {
          border-radius: 4px 0 0 4px;
        }

        &.min-bar {
          border-radius: 0 4px 4px 0;
        }

        .format {
          color: white;
          position: absolute;
          left: .5rem;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .results {
    .width-50 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .format {
      font-size: 0.6rem;
      line-height: 0.8rem;
    }
  }
}