@import './assets/scss/colors';
@import './assets/scss/utilities';

.app {
  color: $grey;
  background-color: $grey-lightest;
  padding: 0 2rem;

  @media (max-width: 550px) {
    padding: 0 1rem;
  }
}