@import './assets/scss/colors';
@import './assets/scss/utilities';

.app {
  color: $grey;
  background-color: $grey-lightest;
  padding: 0 2rem;
  font-family: 'Roboto', sans-serif;

  .app-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  @media (max-width: 550px) {
    padding: 0 1rem;
  }
}