body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('./assets/Roboto-Bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}